<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sneaker Store</title>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" media="screen" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="css/pe-icon-7-stroke.css" rel="stylesheet" type="text/css" media="screen" />
    @*<link href="css/animate.min.css" rel="stylesheet" type="text/css" media="screen" />*@
    <link href="css/light-bootstrap-dashboard.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
